<section id="tab-folio">
  <div class="head-card">
    <h1 id="title-cards">Portfolio</h1>
    <h3>Mes projets</h3>
  </div>

  <div class="cards">
    <div class="card">
      <%= image_tag('green.png', class:"card__image") %>
      <div class="card-title">
        <a href="#" class="toggle-info btn-card">
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h2>
            My Green Game
            <small>Rails app</small>
        </h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
          My Green Game est un projet Rails de fin d'étude du Wagon, imaginé et conçu en 8jours. Elle à pour but de centraliser l'information, et nous permettre de diminuer notre empreinte écologique tout en jouant.
          C'est une application mobile entièrement responsive.
          Lien du repo
          <a href="https://github.com/alircmll/green-game">Lien du repo</a>
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
            <a href="https://my-green-game.herokuapp.com/" class="btn-card">Jeter un oeil</a>
          </div>
        </div>
      </div>
    </div>

      <div class="card">
        <%= image_tag('hu_m.png', class:"card__image") %>
      <div class="card-title">
        <a href="#" class="toggle-info btn-card">
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h2>
            Hug and More
            <small>Rails app</small>
        </h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
          Hug and More est un projet Rails conçu en 4jours durant ma formation au Wagon.
          Cette application est un "clône" Airbnb qui permet de réserver et louer un câlin.
          <a href="https://github.com/alircmll/hug-n-more">Lien du repo</a>
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
            <a href="https://hug-n-more.herokuapp.com/" class="btn-card">Jeter un oeil</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <%= image_tag('alircmll.png', class:"card__image") %>
      <div class="card-title">
        <a href="#" class="toggle-info btn-card">
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h2>
            Alice Rcmll
            <small>Rails app</small>
        </h2>
      </div>
      <div class="card-flap flap1">
        <div class="card-description">
          <a href="https://github.com/alircmll/alicercmlldev">Lien du repo</a>
        </div>
        <div class="card-flap flap2">
          <div class="card-actions">
            <a href="#homeTop" class="btn-card">Jeter un oeil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
