<section id="tab-folio">
  <div class="head-card">
    <h1 id="title-cards">Portfolio</h1>
    <!-- <h3>Mes projets</h3> -->
  </div>
  <section class="main">

  <div class="wrap wrap--1">
    <div class="container-card container--1">
      <!-- <div class="card-desc">My Green Game est un projet Rails de fin d'étude du Wagon, imaginé et conçu en 8jours. Elle à pour but de centraliser l'information, et nous permettre de diminuer notre empreinte écologique tout en jouant.
        C'est une application mobile entièrement responsive.</div>
      </div> -->
    </div>
      <div class="card-detail">
        <div class="card-name">
          <p>My Green Game</p>
        </div>
        <div class="card-info">
          <a href="https://github.com/alircmll/green-game" class="fab fa-github" aria-hidden="true" target="_blank"></a>
          <a href="href=https://my-green-game.herokuapp.com/" target="_blank" class="fas fa-location-arrow" aria-hidden="true"></a>
        </div>
      </div>
  </div>

  <div class="wrap wrap--2">
    <div class="container-card container--2">
      <!-- <div class="card-desc">Hug 'N' More est un projet Rails conçu en 4jours durant ma formation au Wagon.
          Cette application est un "clône" Airbnb qui permet de réserver et louer un câlin.</div>
      </div> -->
    </div>
      <div class="card-detail">
        <div class="card-name">
          <p>Hug 'N' More</p>
        </div>
        <div class="card-info">
          <a href="https://github.com/alircmll/hug-n-more" class="fab fa-github" aria-hidden="true" target="_blank"></a>
          <a href="https://hug-n-more.herokuapp.com/" target="_blank" class="fas fa-location-arrow" aria-hidden="true"></a>
        </div>
      </div>
  </div>

  <div class="wrap wrap--3">
    <div class="container-card container--3">
    </div>
      <div class="card-detail">
        <div class="card-name">
          <p>Alice Rcmll</p>
        </div>
        <div class="card-info">
          <a href="https://github.com/alircmll/alicercmlldev" class="fab fa-github" aria-hidden="true" target="_blank"></a>
          <a href="#homeTop" target="_blank" class="fas fa-location-arrow" aria-hidden="true"></a>
        </div>
      </div>
  </div>

</section>
</section>
