<footer id="footer" class="py-4">
  <div class="container text-center">
    <div class="link"><a href="https://github.com/alircmll" class="fab fa-github"></a>  <a href="https://www.linkedin.com/in/alice-roy-camille-a4236b199/" class="fab fa-linkedin"></a></div>
    <small>&copy; Copyright Alice Rcmll. </small>
  </div>
</footer>
