<footer id="footer" class="py-4">
  <div class="container footer-icon text-center">
    <div class="icon-github">
      <!-- <i class="fi-xnsuxl-github"></i> -->
      <h2><a href="https://github.com/alircmll" class="fab fa-github" target=" _blank"></a></h2>
    </div>
    <div class="copyright">
      <small>&copy; Copyright Alice Roy-Camille. </small>
    </div>
    <div class="icon-in">
      <!-- <i class="fi-snsuxl-linkedin"></i> -->
      <h2><a href="https://www.linkedin.com/in/alice-roy-camille-a4236b199/" class="fab fa-linkedin" target=" _blank"></a></h2>
    </div>
  </div>
</footer>
