<section class="contact-wrap">
  <form id="my-form" class="contact-form" action="https://formspree.io/xwkveaqe" method="POST">
    <div class="col-sm-6">
      <div class="input-block">
        <label>Nom</label>
        <input type="text" name="last_name" class="form-control">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-block">
        <label>Prénom</label>
        <input type="text" name="first_name" class="form-control">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block">
        <label>Email</label>
        <input type="text" name="_replyto" class="form-control">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block">
        <label for="">Object du message</label>
        <input type="text" name="object" class="form-control">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block textarea">
        <label for="">Message</label>
        <textarea rows="3" type="text" name="message" class="form-control"></textarea>
      </div>
    </div>
    <input value="Envoyer" id="my-form-button" type="submit" />
    <!-- <button id="my-form-button">Submit</button> -->
    <p id="my-form-status"></p>
  </form>
</section>
