<section class="et-hero-tabs" class="et-slide" id="accueil">
  <h1 class="title-description">Create what you think</h1>
  <h2 class="intro-lead-in" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="0.5s">Faites germer votre projet web</h2>
  <a href="#about">
    <div class="scroll-down"></div>
  </a>
</section>

