<section class="et-hero-tabs" class="et-slide" id="section1">
  <h1 class="title-name">Alice Roy-Camille</h1>
  <div class="text-body intro-lead-in"><span class="typed"></span></div>
  <a href="#tab-profil">
    <div class="scroll-down"></div>
  </a>
</section>

