<section class="et-hero-tabs" class="et-slide" id="tab-es6" id="section1">
  <h1 class="title-name">Alice Roy-Camille</h1>
  <div class="text-body intro-lead-in"><span class="typed"></span></div>
  <a href="#tab-react">
    <div class="scroll-down"></div>
  </a>
</section>

