<nav id="navMenu" class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-custom navbar-fixed-top">

  <%#= link_to "#tab-es6", class: "navbar-brand" do %>
     <!-- <span id="name">AliceRcmll</span> -->
  <%# end %>
          <div class="navbar-header">
            <a class="navbar-brand" href="#tab-es6">AliceRcmll</a>
          </div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="list-nav">
              <li><a href="#tab-es6">Accueil</a></li>
              <li><a href="#tab-profil">À propos</a></li>
              <li><a href="#tab-services">Services</a></li>
              <li><a href="#tab-react">Outils</a></li>
              <li><a href="#tab-folio">Portfolio</a></li>
              <li><a href="#tab-other">Contact</a></li>
            </ul>
          </div>


    <%# MENU DOTS %>
    <a id="dotsMenu" class="btn menu" data-target="#modalNavigation" data-toggle="modal">
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
      <div class="pix"></div>
    </a>
</nav>
<%# NAVBAR TOP MENU END %>


<%# MODAL MENU START %>
<div class="modal fade" id="modalNavigation" role="dialog"  aria-hidden="true">
  <%# BUTTON CLOSE %>
  <a id="dotsMenuClose" class="btn menu active" data-target="#modalNavigation" data-toggle="modal" aria-label="Close" class="close" data-dismiss="modal">
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
    <div class="pix"></div>
  </a>
  <%# MODAL %>
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <ul id="menuModal" class="list-group text-center">
        <%# LIST %>

            <a class="nav-link list-group-item menu-item" href="#tab-es6">Accueil</a>
            <a class="nav-link list-group-item menu-item" href="#tab-profil">À propos</a>
            <a class="nav-link list-group-item menu-item" href="#tab-services">Services</a>
            <a class="nav-link list-group-item menu-item" href="#tab-react">Outils</a>
            <a class="nav-link list-group-item menu-item" href="#tab-folio">Portfolio</a>
            <a class="nav-link list-group-item menu-item" href="#tab-other">Contact</a>



        <%# MENU PROFIL / LOG OUT START %>
        <hr>
        <li class="footer-menu list-inline ">
          <div class="d-flex justify-content-center">
              <a href="https://github.com/alircmll" class="fab fa-github list-group-item"></a>
              <a href="https://www.linkedin.com/in/alice-roy-camille-a4236b199/" class="fab fa-linkedin list-group-item"></a>
          </div>
        </li>
        <%# MENU PROFIL / LOG OUT END %>
      </ul>
    </div>
  </div>
</div>



<!-- <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#tab-es6">AliceRcmll</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tab-es6">Accueil</a></li>
            <li><a href="#tab-react">Parcours</a></li>
            <li><a href="#tab-angular">Outils</a></li>
            <li><a href="#tab-other">Contact</a></li>
          </ul>
        </div>/.nav-collapse
      </div>
    </nav>
  -->
