<nav id="navMenu" class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-custom navbar-fixed-top">
  <div class="navbar-header">
    <%= link_to "#accueil", class: "navbar-brand" do %>
       <%= image_tag('logo-new.png', class:"img-brand") %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="list-nav">
      <li><a href="#accueil" class="effect-underline">Accueil</a></li>
      <li><a href="#about" class="effect-underline">À propos</a></li>
      <li><a href="#tab-services" class="effect-underline">Services</a></li>
      <li><a href="#tab-stack" class="effect-underline">Outils</a></li>
      <li><a href="#tab-contact" class="effect-underline">Contact</a></li>
    </ul>
  </div>
</nav>
