<section class="base-left" id="about">
  <div class="container profil-content">
    <div class="title">
      <h1 class="play-40 dark-b">Selon</h1>
      <h1 class="play-40 light-b">vos besoins</h1>
    </div>
    <div class="container-txt">
        <div class="profil-txt">
          <p> Je réalise votre projet web <strong>sur-mesure</strong>.
            <br>
            Votre site internet ou e-commerce est créé afin d'avoir la meilleure <strong>expérience utilisateur</strong> possible. <br>Création graphique, web design, ergonomie et rédaction de contenu. <br>
            RCMLL crée votre identité de marque et gère votre communication social média. 
            <br>
            Augmentez votre visibilitée grâce au WEB. <br>
            Je vous accompagne de la <strong>conception</strong> à la <strong>réalisation</strong> de votre projet<br><br>
            Vous souhaitez avoir une présence en ligne ? <br>Présenter un prototype ? <br>Développer votre produit ? 
            <br>
            N'hésitez pas à me <strong><a href="#tab-contact">contacter</a> </strong> pour échanger à ce sujet.</p>
        </div>
    </div>
  </div>
</section>
<!--  réalise votre projet web sur-mesure. Notre agence digitale crée votre site internet ou Ecommerce afin qu'il soit beau, moderne et en première page de Google afin d'être bien référencé. Nous nous occupons de la création graphique de votre site, du webdesign, de l'ergonomie et de la rédaction de contenu.
Notre agence web crée votre identité de marque et gère votre communication social média.
Nous déployons votre stratégie digitale afin de générer du trafic et des ventes. -->
<!-- <strong>Alice Roy-Camille</strong>, -->