<section class="et-slide" id="tab-profil">
  <div class="container profil-content">
    <div class="profil-title">
      <h1> À Propos </h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 text-center">
        <div class="profil-img ">
          <%= image_tag('ali.JPG', class:"img-profil") %>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-center">
        <div class="profil-txt">
          <p>Bienvenue! Je m'appelle <strong>Alice</strong> et je suis développeuse web <strong>FullStack</strong>.
            <br>
            <br>
            Je propose mes services pour la <strong>conception</strong> et la <strong>réalisation</strong> de votre projet tech.
            Vous souhaitez avoir une présence en ligne ? Présenter un prototype ? Développer votre produit ? <br>
            N'hésitez pas à me <strong><a href="#tab-other">contacter</a> </strong> pour échanger à ce sujet.</p>
        </div>
      </div>
    </div>
  </div>
</section>
