<section class="et-slide" id="about">
  <div class="container profil-content">
    <div class="profil-title">
      <h1> À Propos </h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 d-flex justify-center">
        <div class="profil-txt">
          <p><strong>Alice Roy-Camille</strong>, développeuse web <strong>FullStack</strong>.
            <br>
            <br>
            FullStack ??  FullStack c'est la <strong>polyvalence</strong>. Front-end, Back-end, Web architect. Tout dépend de <strong>votre</strong> besoin. 
            <br>
            <br>
            Augmentez votre visibilitée grâce au WEB. <br>
            Je vous accompagne de la <strong>conception</strong> à la <strong>réalisation</strong> de votre projet tech <br>(Site internet, mobile, application..) <br>
            Vous souhaitez avoir une présence en ligne ? Présenter un prototype ? Développer votre produit ? 
            <br>
            <br>
            N'hésitez pas à me <strong><a href="#tab-contact">contacter</a> </strong> pour échanger à ce sujet.</p>
        </div>
      </div>
    </div>
  </div>
</section>
