<section class="et-slide" id="tab-services">
  <header class="services-header">
    <h1>Services</h1>
  </header>
<div class="row holder">
    <div class="col-xs-12 col-sm-6 col-md-5 padding-sm-topzero">
      <div class="f-iconbox right padding-bottom-30 wow fadeInLeft" data-wow-duration="1s" >
        <span class="icon"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
        <h4 class="title-service">Gestion de projets web</h4>
        <p>Site vitrine, corporate, évènementiel,<br /> e-commerce, web app.</p>
      </div>
      <div class="f-iconbox right padding-bottom-30 wow fadeInLeft" data-wow-duration="2s">
        <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        <h4 class="title-service">Intégration Web</h4>
        <p>Intégrations HTML / CSS respectueuses des standards du Web.</p>
      </div>
      <div class="f-iconbox right padding-bottom-30 wow fadeInLeft" data-wow-duration="3s">
        <span class="icon"><i class="fa fa-wrench" aria-hidden="true"></i></span>
        <h4 class="title-service">Développements spécifiques</h4>
        <p>Outils adaptés à votre coeur de métier,<br /> applications et solutions personnalisées.</p>
      </div>
      <div class="f-iconbox right padding-bottom-30 wow fadeInLeft" data-wow-duration="4s">
        <span class="icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
        <h4 class="title-service">Référencement naturel</h4>
        <p>Affichage sémantique des informations,<br /> des pages propres pour un référencement optimal.</p>
      </div>
    </div>
    <div class="">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 padding-sm-topzero">
      <div class="f-iconbox padding-bottom-30 wow fadeInRight" data-wow-duration="1s">
        <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <h4 class="title-service">Conception graphique & Webdesign</h4>
        <p class="services_mb">Templates Web, plaquettes publicitaires,<br /> cartes de visite ...</p>
      </div>
      <div class="f-iconbox padding-bottom-30 wow fadeInRight" data-wow-duration="2s">
        <span class="icon"><i class="fa fa-refresh" aria-hidden="true"></i></span>
        <h4 class="title-service">Dynamisme des pages</h4>
        <p>Animations de contenu non intrusives<br /> pour embellir votre projet.</p>
      </div>
      <div class="f-iconbox padding-bottom-30 wow fadeInRight" data-wow-duration="3s">
        <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
        <h4 class="title-service">Interface d'administration</h4>
        <p class="services_mb2">Outils spécifiques au bon fonctionnement<br /> de votre entreprise.</p>
      </div>
      <div class="f-iconbox padding-bottom-30 wow fadeInRight" data-wow-duration="4s">
        <span class="icon"><i class="fa fa-retweet" aria-hidden="true"></i></span>
        <h4 class="title-service">Responsive design</h4>
        <p>Compatible tous supports.</p>
      </div>
    </div>
  </div>

</section>
