<!-- <section class="intro">
  <div class="container">
    <h1>My Life &darr;</h1>
    <h5>Scroll Down</h5>
  </div>
</section> -->

 <section class="timeline" id="tab-react">
        <div class="container-about text-center">
          <h1>Parcours</h1>
        </div>
      <ul>
        <li>
          <!-- <i class="far fa-handshake"></i> -->
          <div>
            <time>Octobre - Décembre 2019</time><br><span>Le Wagon Bootcamp.Certification Professionnelle de Niveau II(Equivalent Bac +3/4),Computer Programming.</span>
          </div>
        </li>
        <li>
          <div>
            <time>Février - Avril 2019</time><br><span>Professeur d'anglais à l'école élémentaire</span>
          </div>
        </li>
        <li>
          <div>
            <time>2017 - 2019</time><br><span>Community manager Freelance</span>
          </div>
        </li>
        <li>
          <div>
            <time>2017</time><br><span>Assistance de production audiovisuelle</span>
          </div>
        </li>
        <li>
          <div>
            <time>2015 - 2016</time><br><span>Ecole préparatoire de Médecine</span>
          </div>
        </li>
        <li>
          <div>
            <time>2014</time><br><span>Baccalauréat Scientifique - Physique-Chimie</span>
          </div>
        </li>
        <li>
          <div class="outline">
            <time>Télécharger mon CV </time>
           <p><%= link_to image_tag("cv.jpg", width: 80), home_download_pdf_path %></p>
          </div>
        </li>
      </ul>
    </section>
