<!-- <section class="intro">
  <div class="container">
    <h1>My Life &darr;</h1>
    <h5>Scroll Down</h5>
  </div>
</section> -->

<section class="timeline">
  <ul>
    <li>
      <div>
        <time>1993</time><img id="meBaby" src="http://i1356.photobucket.com/albums/q729/eleftheria_b/my%20face/babyMe_zps3ku1takx.jpg"/><br>Born in Greece in a hot noon of mid-summer
      </div>
    </li>
    <li>
      <div>
        <time>1998-2011</time><img class="photos" src="http://www.westperry.org/cms/lib/PA09000117/Centricity/Domain/51/school.gif"/><br>Went to school in many different places in Greece. We had to move a lot due to mama's job.
      </div>
    </li>
    <li>
      <div>
        <time>2012-2016</time><img class="photos" src="https://eclass.uowm.gr/courses/theme_data/3/uowm-logo_1.png"/><br> Study at the university of Western Macedonia in Greece.
      </div>
    </li>
    <li>
      <div>
        <time>2016</time><img class="photos" src="http://i1356.photobucket.com/albums/q729/eleftheria_b/my%20face/3_eleftheria_zpsjwpxlvm7.jpg"/><br>  Graduade as an Engineer of Informatics and Telecommunications
      </div>
    </li>
    <li>
      <div>
        <time>2017</time><br>Been for a couples of months in Amsterdam to internship in a cool start-up company!
      </div>
    </li>

    <li>
      <div>
        <time>Find me!</time><h5><a href="http://www.eleftheriabatsou.com" target="_blank">Eleftheria</a> | <a href="https://codepen.io/EleftheriaBatsou" target="_blank">Projects</a> | <a href="https://www.youtube.com/channel/UCC-WwYv3DEW7Nkm_IP6VeQQ" target="_blank"> Coding videos </a></h5>
      </div>
    </li>


  </ul>



</section>
