 <!-- Hero -->
  <section class="et-hero-tabs">
    <h1>AliceRcmll</h1>
    <h3>FullStack Web Developper</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-es6">Profil</a>
      <a class="et-hero-tab" href="#tab-flexbox">Parcours</a>
      <a class="et-hero-tab" href="#tab-react">Compétences</a>
      <a class="et-hero-tab" href="#tab-angular">Services</a>
      <a class="et-hero-tab" href="#tab-other">Contact</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-es6" id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
        <div class="profil-title">
          <h1>Profil</h1>
      </div>
      <!-- <section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s"> -->
        <div class="container">
          <div class="row container-profil">
            <div class="col-lg-3 stats">
              <i class="fa fa-code" aria-hidden="true"></i>
              <div class="counting" data-count="40000">0</div>
              <h5>Lines of code</h5>
            </div>

            <div class="col-lg-3 stats">
              <i class="fa fa-check" aria-hidden="true"></i>
              <div class="counting" data-count="3">0</div>
              <h5>Projects done</h5>
            </div>

            <!-- <div class="col-lg-3 stats">
              <i class="fa fa-clock" aria-hidden="true"></i>
              <div class="counting" data-count="450">0</div>
              <h5>Hours at le Wagon</h5>
            </div> -->

            <div class="col-lg-3 stats">
              <i class="fa fa-coffee" aria-hidden="true"></i>
              <div class="counting" data-count="999">0</div>
              <h5>Cups of coffee</h5>
            </div>
          </div>
        </div>
    <!-- </section> -->
    </section>

    <section class="et-slide" id="tab-flexbox">
        <div class="container">
          <h1>Parcours</h1>
          <h3>something about me</h3>
          <h5>&darr;</h5>
        </div>
    </section>
     <section class="timeline">
      <ul>
        <li>
          <div>
            <time>2019</time><br> Le Wagon batch #325
          </div>
        </li>
        <li>
          <div>
            <time>February-April 2019</time><br> English teacher in an elementary school.
          </div>
        </li>
        <li>
          <div>
            <time>2018</time><br>Freelance Community manager.
          </div>
        </li>
        <li>
          <div>
            <time>2017</time><br>Audiovisual production assistant.
          </div>
        </li>
        <li>
          <div>
            <time></time><br>Been for a couples of months in Amsterdam to internship in a cool start-up company!
          </div>
        </li>
        <li>
          <div>
            <time>Find me!</time><h5><a href="http://www.eleftheriabatsou.com" target="_blank">Eleftheria</a> | <a href="https://codepen.io/EleftheriaBatsou" target="_blank">Projects</a> | <a href="https://www.youtube.com/channel/UCC-WwYv3DEW7Nkm_IP6VeQQ" target="_blank"> Coding videos </a></h5>
          </div>
        </li>
      </ul>
    </section>
    <section class="et-slide" id="tab-react">
      <h1>Compétences</h1>
      <h3>something about me</h3>
    </section>
    <section class="et-slide" id="tab-angular">
      <h1>Services</h1>
      <h3>something about me</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1>Contact</h1>
      <h3>something about me</h3>
    </section>
  </main>
