 <!-- Hero -->
  <section class="et-hero-tabs">
    <h1>AliceRcmll</h1>
    <h3>FullStack Web Developper</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-es6">Profil</a>
      <a class="et-hero-tab" href="#tab-flexbox">Parcours</a>
      <a class="et-hero-tab" href="#tab-react">Compétences</a>
      <a class="et-hero-tab" href="#tab-angular">Services</a>
      <a class="et-hero-tab" href="#tab-other">Contact</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-es6" id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
      <!-- <div class="row"> -->
        <div class="profil-title">
          <h1>Profil</h1>
        <!-- </div> -->
      </div>
      <!-- <section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s"> -->
        <div class="container">
          <div class="row container-profil">
            <div class="col-lg-3 stats">
              <i class="fa fa-code" aria-hidden="true"></i>
              <div class="counting" data-count="120000">0</div>
              <h5>Lines of code</h5>
            </div>

            <div class="col-lg-3 stats">
              <i class="fa fa-check" aria-hidden="true"></i>
              <div class="counting" data-count="3">0</div>
              <h5>Projects done</h5>
            </div>

            <div class="col-lg-3 stats">
              <i class="fa fa-clock" aria-hidden="true"></i>
              <div class="counting" data-count="450">0</div>
              <h5>Hours at le Wagon</h5>
            </div>

            <div class="col-lg-3 stats">
              <i class="fa fa-coffee" aria-hidden="true"></i>
              <div class="counting" data-count="999">0</div>
              <h5>Cups of coffee</h5>
            </div>
          </div>
        </div>
    <!-- </section> -->
    </section>

    <section class="et-slide" id="tab-flexbox">
      <h1>Parcours</h1>
      <h3>something about me</h3>
    </section>
    <section class="et-slide" id="tab-react">
      <h1>Compétences</h1>
      <h3>something about me</h3>
    </section>
    <section class="et-slide" id="tab-angular">
      <h1>Services</h1>
      <h3>something about me</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1>Contact</h1>
      <h3>something about me</h3>
    </section>
  </main>
