
// colour stuff
$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade: #007c85;

$darkGrey: #4f585e;

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.wrap {
  margin: 2rem;

  transform-style: preserve-3d;
  transform: perspective(100rem);

  cursor: pointer;
}

.container-card {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;

  width: 28rem;
  height: 15rem;
  border: 1px solid var(--background-color);
  border-radius: 1.6rem;
  padding: 4rem;

  display: flex;
  align-items: flex-end;

  position: relative;
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  background-position: var(--bX) var(--bY);
  background-size: 40rem auto;
  box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);

  transition: transform .6s 1s;
}

.container-card::before,
.container-card::after {
  content: "";

  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;

  position: absolute;
  z-index: 2;

  opacity: .3;
  transition: .3s;
}

.container-card::before {
  top: 2rem;
  right: 2rem;

  border-bottom-width: 0;
  border-left-width: 0;
}

.container-card::after {
  bottom: 2rem;
  left: 2rem;

  border-top-width: 0;
  border-right-width: 0;
}

.container-card--active {
  transition: none;
}

.container--1{
  background:image_url('green.png');
  background-size: cover;
  background-repeat: no-repeat;


}

.container--2 {
  // filter: hue-rotate(80deg) saturate(140%);
  background: image_url('hu_m.png');
  background-size: cover;
  background-repeat: no-repeat;


}

.container--3 {
  // filter: hue-rotate(160deg) saturate(140%);
  background: image_url('alircmll.png');
  background-size: cover;
  background-repeat: no-repeat;


}

.container-card p {
  color: hsla(0, 0%, 100%, .6);
  font-size: 2.2rem;
}

.wrap:hover .container-card::before,
.wrap:hover .container-card::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.card-detail{
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.card-info{
  a{
    text-decoration: none;
    &:hover{
      transition: width 0.5s ease 0s, left 0.3s ease 0s;
    }
  }
}

 #tab-folio{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.head-card{
  display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
}


// #tab-folio{
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
// .head-card{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// @media (max-width: 768px){
//   div.cards {
//     padding: 30px auto;
//   }
//   .card__image{
//     width: 300px;
//     height: 150px;
//   }
//   .head-card{
//     display: none;
//   }
// }
