#footer {
  height:100px;
  background-color: #fff;
  color: #848482;
  opacity: 100%;
  z-index: 1200;
  display:flex;
  justify-content:center;
  align-items: center;
  a {
    color: #848482;
    text-decoration: none;

    &:hover {
      color: #4f8d74;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }
  }
}

.footer-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
