#about{
   h1{    
    font-size: 6rem;
  }
  .dark-b{
      color: #FF9398;
    }
    .light-b{
      color: #0369be;
    }
  .title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.img-profil{
  width: 19em;
  max-width: 100%;
}

.profil-content{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 3rem 1rem;
  width: 100%;
}

.container-txt{
  display: flex;
  justify-content: center;
}
.profil-txt{
  text-align: end;
  padding-top: 3rem;
  width: 66%;
  a{
    color: #063d0d;
    text-decoration: none;
    background-color: transparent;
    &:hover{
      color: #0f6713;
      text-decoration: underline;
      background-color: transparent;
    }
  }
  p{
    font-family: "Nuito", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #425e5e;
  }
}

.profil-title{
  margin-bottom: 35px;
  text-align: center;
  font-size: 43px;
  line-height: 50px;
  position: relative;
}
