.img-profil{
  width: 18em;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.profil-content{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.profil-txt{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil-title{
  margin-bottom: 35px;
  text-align: center;
  font-size: 43px;
  line-height: 50px;
  position: relative;
}

