.scroll-up {
  position: fixed;
  z-index: 999;
  bottom: 1.8em;
  right: 1.8em;
  background: #2A9D8F;
  border-radius:50%;
  border: 2px solid #2A9D8F;
}

.scroll-up a {
  color: white;
  display: block;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}

.bounce{
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
