input[type=submit]{
  margin-left: 0.5em;
  height: 2.5em;
  padding: 14.5px 43px 30.5px 53px;
  font-size: 12px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
  background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.5em -0.3em transparent;
  background-size: 27px 102px;
  border-radius: 2em;
  border: 0.15em solid white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  outline: none;
  box-shadow: none;
}
input[type="submit"]:hover {
  color: #fff;
  background-color: #235A64;
  border-color: #235A64;
  background-position: 0.45em bottom;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type="submit"]:focus {
  background-position: 2em -6em;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

