// title
.services-header{
  margin-bottom: 45px;
  margin-top: 45px;
}

#services .f-iconbox {
  font-size: 16px;
}

// row de gauche
.f-iconbox.right {
  padding-left: 0;
  text-align: right;
  padding-right: 96px;
}

.f-iconbox {
  z-index: 5;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-left: 96px;
  text-align: left;
}

.padding-bottom-30 {
  padding-bottom: 30px!important;
}

// icons

.f-iconbox .icon {
  left: 0;
  top: 7px;
  font-size: 25px;
  padding: 20px 0 0;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  width: 68px;
  height: 68px;
  border: 2px solid transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f-iconbox .icon {
  color: #2A9D8F;
  border-color: #2A9D8F;
}

.f-iconbox.right .icon {
  right: 0;
  left: auto;
}
