.amg-skills {
  max-width: 960px;
}
.amg-badge-collection  {

  // background: #151515;
}
.amg-badge {
  // padding: 20px 5%;
  padding: 22px 5%;
}
.amg-badge h3 {
  margin: 0;
  line-height: 50px;
  text-align: center;
  color: #151515;
}
img {
  height:90px;
  width:85px;
}

#title-skills{
  padding-bottom: 4vh;
  // font-size: 2rem;
}


.row {
   justify-content: space-around;
   // padding-top: 2rem;
}
// @media only screen and (max-width : 639px) {
//   .amg-badge {
//     width: 50%;
//     padding: 20px 10%;
//   }
// }
// @media(max-width: 768px) {
//   .amg-badge {
//     grid-template-columns: 1fr;
//   }
// }


// progress bar


.wrapper{
        width: 400px;
        font-family: 'Roboto', sans-serif;
         margin:0 auto;
         display: flex;
         justify-content: space-around;
    }

 .skill {
        margin-bottom: 35px;
        position: relative;
      overflow-x:hidden;

    }
    .skill > p {
        font-size: 18px;
        font-weight: 700;
        color: #1a1716;
        margin: 0;
        text-align: start;
    }
    .skill:before{
        width: 100%;
        height: 5px;
        content: "";
        display: block;
        position: absolute;
        background: #959595;
        bottom: 0;
    }
    .skill-bar {
        width: 100%;
        height: 5px;
        background:#008080;
        display: block;
        position: relative;
        border-radius:2px;
    }

    /* SKILL 1 */
    .skill1{
        width: 100%;

    }
    .skill-bar span{
        position: absolute;
        // border-top: 5px solid #f4392f;
        top: -30px;
        padding: 0;
        font-size: 18px;
        padding: 3px 0;
        font-weight: 500;
        border-radius:2px;
    }
    .skill-bar {
        position: relative;

    }

    .skill1 .skill-count1 {
        right: 0;
    }
    /* SKILL 2 */
    .skill2{
        width: 95%;
    }

    .skill2 .skill-count2 {
        right: 0;
    }
    /* SKILL 3 */
    .skill3{
        width: 55%;
    }
    .skill3 .skill-count3 {
        right: 0;
    }

    // /* SKILL 4 */
    // .skill4{
    //     width: 65%
    // }

    // .skill4 .skill-count4 {
    //     right: 0;
    // }

    // /* SKILL 5 */
    // .skill5{
    //     width: 80%;
    // }

    // .skill5 .skill-count5 {
    //     right: 0;
    // }

    // /* SKILL 6 */
    // .skill6{
    //     width: 90%
    // }

    // .skill6 .skill-count6 {
    //     right: 0;
    // }
