*,
*::before,
*::after {
  box-sizing: border-box;
}

$BG-color: #AD1457;
$box-color: #DBE8E8;
$font-color: #485B61;

#tab-stack {
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}
.tool-title{
  text-transform: uppercase;
}

.arrow{
  font-size: 4em;
  margin-top: 10vh;
}

.container-about{
  padding-bottom: 5vh;
}

.timeline ul {
  padding: 0px 0;
}

.img.stripe{
  width: 31%;
}

.timeline ul li.in-view .timeline-contentt h3{
  padding: 10px;
  background: $canard;
  color: #fff;
  border-radius: 3px;
  font-size: 1.4em;
  text-align: center;
  font-weight: lighter;
  width:100%;
}

.timeline ul li.in-view .timeline-contentt{
  // width: 90%;
  background: #fff;
  // -webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
  // position: relative;
  // left: 7%;
}



.img-timeline{
  padding: 22px 5%;
  height:90px;
  width:85px;
}

// tout l'encardré

.row-content{
  display: flex;
  justify-content: center;
  align-items: center;
}


.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1.5px;
  margin: 0 auto;
  padding-top: 50px;
  background: $canard;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.9px;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $box-color;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
}


.timeline ul li.in-view div.outline {
  border: none;
}
.timeline ul li div.outline::before {
  display: none;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -16px;
  border-width: 8px 16px 8px 0;
  border-color: transparent $canard transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -16px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent $canard;
}

time {
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

span{
  font-family:'Roboto', sans-serif;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: $canard;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline a {
  color: #867E97;
  text-decoration: none;
  font-size: 2.4em;
}

.timeline a:hover {
   color: $primary;
   transition: all 0.3s ease 0s;
}
.find-me {
  display:flex;
  justify-content: space-around;
  padding-top: 12px;
  margin-top: 11px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $box-color transparent transparent;
  }
}

